.title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.desc{
    width: 60%;
    color: black;
    opacity: 70%;
    text-justify: inter-word;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}